<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Find Where I Was.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>313C84451C183B0E000C27F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313C845C1C184395000C27F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E645CD1BFB57ED0050922A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
